@import 
url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Raleway:wght@500&family=Roboto:wght@300&display=swap');

*{

    margin: 0;
    padding: 0;
}
div.wrapper {
    max-width:  1240px;
    margin: 0 auto;

}
nav {
    font-size: 0;
}

nav a{
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
    height: 40px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: rgb(175, 41, 41);
    line-height: 40px;

    

}
nav a:hover {
    border-bottom:  8px solid black;
    color: black;
    background-color: white;
}
nav a.bt1 {
    background-color: bisque;
}
nav a.bt2 {
    background-color: rgb(201, 180, 155);
}
nav a.bt3 {
    background-color: rgb(136, 122, 104);
}
nav a.bt4 {
    background-color: rgb(54, 49, 42);
}
nav a:hover {
    border-bottom:  8px solid black;
    color: black;
    background-color: white;
}




main {
    min-height: 50vh; 
    background-color: burlywood;
}
footer {
    min-height: 100px;
    background-color: darkcyan;
}



