/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
}
nav {
    max-width: 1440px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 30px auto;
    text-align: right;
    
}

/* nawigacja */
nav a {
    display: inline-block;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding: 10px;
    margin: 0 20px;
    letter-spacing: 1px;
    
    
}
nav a.reservation {
    font-size: 2.2rem;
    border: 2px solid;
    padding: 10px 30px;
    margin-left: 50px;
    letter-spacing: 1.5px;
    transition: .2s;
    
}
    nav a:hover {
        /* border-bottom: 2px solid black; */
        color: rgb(163, 156, 236);
    }
    nav a.reservation:hover {
        background-color: rgba(0, 0, 0, 0.976);

    }
/* header */
header {
    height: 40vh;
    background-image: url(../Strona/Ob/4.jpg);
    /* background-size: cover;    */
    background-size: contain;
}
header h1 {
    font-size: 6rem;
    color: azure;
    text-align: center;
    line-height: 40vh;
    background-color: rgba(0, 0, 0, 50%);
}
main {
    max-width: 1440px;
    margin:  5vh auto;
    font-size: 0;
    
}
main p.description {
    font-size: 22px;
    text-align: center;
    margin: 0 30px 50px;
    line-height: 180%;
    
}
main section {
    background-color: #000;
    padding: 30px;
}
main div.features {
        display: inline-block;
        width: 33.33%;
        /* background-color: rgb(209, 138, 138); */
        letter-spacing: 1.5px;
        text-transform: uppercase;
}


main div.image {
    height: 200px;
    background-color: #81afdc;
    margin: 20px 30px;
}
main h2 {
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
}
main h2:hover {
    color:rgb(83, 161, 225);
}
footer {
    background-color: #000;
}
 footer p {
    color: aliceblue;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
 }