 
.clearfix::after {
    /* Ustawiamy 3 rzeczy kontent żeby w ogole element powstał :)
    2 display block
    clear: both */
    content: "";
    display: block;
    clear: both;
}

 .board {
    background-color: rgb(195, 79, 79);
    width: 400px;
    border: 3px solid black;
    margin: 100px auto 0;
    
    
}
.board div {
    width: 80px;
    height: 80px;
    background-color: black;
    
}
.board div:nth-child(even) {
    background-color: aliceblue;
}
